<div class="hacklift">
  <button type=button class="btn btn-default" data-behavior="room_raiser" value="<%= hacklift.sector %>">
    Raise Hacklift
  </button>

  <button type=button class="btn btn-default" data-behavior="room_lower" value="<%= hacklift.sector %>">
    Lower Hacklift
  </button>
</div>
